<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Jon Richmond">
    <meta name="description" content="This is Jon Richmond's personal site.">
    <title>Jon Richmond</title>
  </head>

  <body>
    <h1>Welcome to my site! New content is coming soon.</h1>
    <h2>Testemonials</h2>
    <p>"My name is Commander Shepard, and this is my favorite site on the internet." -<i>Commander Shepard</i></p>
  </body>
</html>
